<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-注册</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/register.js"></script>
</head>
<body>
	<div class="login_top clearfix">
		<a href="/home/index" class="login_logo"><img src="images/logo02.png"></a>	
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="r_con fr" style="background:white">
			<div class="reg_title clearfix" >
				<h1>用户注册</h1>
				<a href="#">登录</a>
			</div>
			<div class="reg_form clearfix" >
				<form method="post" action="/home/do_login"">
				<ul>
					<li>
						<label>用户名:</label>
						<input type="text" name="uname" id="user_name">
						
					</li>					
					<li>
						<label>密码:</label>
						<input type="password" name="pwd" id="pwd">
						
					</li>
					<li>
						<label>验证码:</label>

						<input type="text" name="code" class="login-control m-b-10" placeholder="验证码">
						<img src="/admin/code" alt="" onclick="this.src='/admin/code?'+Math.random()">
                		
						
					</li>
					
					<!--<li class="agreement">
						<input type="checkbox" name="allow" id="allow" checked="checked">
						<label>同意”天天生鲜用户使用协议“</label>
						<span class="error_tip2">提示信息</span>
					</li>-->
					<li class="reg_sub">
						<input type="submit" value="登录" name="">
					</li>
				</ul>				
				</form>
			</div>

		</div>
		</div>
	</div>
</body>
</html>