{extend name="home/index"}
{block name="content"}
	<div class="total_count">全部商品<em>{$b}</em>件</div>	
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
	
	<form action="/home/order_save" method="post"  enctype="multipart/form-data">
		{foreach $res as $v}
		{if session('users.uname')}
		<ul class="cart_list_td clearfix">
			<!-- <li class="col01"><input type="checkbox"  value="{$v.shopid}" name="hobby" checked></li> -->
			<li class="col02"><img src="/photo/{$v.shoppic}"></li>
			<li class="col03">{$v.shopname}<br><em>￥{$v.shopprice}/{$v.shopcl}</em></li>
			<li class="col04">{$v.shopcl}</li>
			<li class="col05">￥{$v.shopprice}</li>
			<li class="col06">
				<div class="num_add">
					
					<a href="javascript:;" class="minus fl">-</a>
					<input type="text" class="num_show fl" value="1">	
					<a href="javascript:;" class="add fl">+</a>
					
				</div>
			</li>
			<li class="col07">￥{$v.shopprice}</li>
			<li class="col08"><a href="/home/car_delete/{$v.id}">删除</a></li>
					<input type="hidden" name="shopid" value="{$v->id}">
					<input type="hidden" name="shopname" value="{$v->shopname}">
					<input type="hidden" name="shopprice" value="{$v->shopprice}">
					<input type="hidden" name="shoppic" value="{$v->shoppic}">
					<input type="hidden" name="shopcl" value="{$v->shopcl}">
					<input type="hidden" name="num" value="{$v->num}">
					<input type="hidden" name="shopcontent" value="{$v->shopcontent}">
					<input type="hidden" name="uid" value="{$v.uid}">
		</ul>
					
		{/if}
		{/foreach}
	
		<ul class="settlements">
		<li class="col02">继续购物</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>￥{$v.shopprice}</em><br>共计<b>1</b>件商品</li>
		<li class="col04"><input type="submit" value="点我结算"></a>
	</ul>
	</form>
	<script>

		/*数量加减*/
	// $(".mid-sl .sl-right").click(function(event) {
	// 	var vl = $(this).siblings("input").val();
	// 	var dj = $(this).parent().siblings(".mid-dj").children('span').text();
	// 	if (vl>0) {
	// 		vl++;
	// 		$(this).siblings("input").val(vl);
	// 		$(this).parent().siblings(".mid-je").children('span').text(dj*vl);
	// 	}
	// });
	// $(".mid-sl .sl-left").click(function(event) {
	// 	var vl = $(this).siblings("input").val();
	// 	var dj = $(this).parent().siblings(".mid-dj").children('span').text();
	// 	if (vl>1) {
	// 		vl--;
	// 		$(this).siblings("input").val(vl);
	// 		$(this).parent().siblings(".mid-je").children('span').text(dj*vl);
	// 	}
	// });
	</script>
{/block}