{extend name="default/index"}
{block name="content"}
<div class="block-area" id="defaultStyle">
                    <h3 class="block-title">用户列表</h3>
                    <table class="table tile">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>分类名</th>
                                <th>pid</th>
                                <th>添加时间</th>
                                <th>修改时间</th>
                                <th>操作</th>
                                <th>添加</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $data as $v}
                            <tr>
                                <td>{$v->id}</td>
                                <td>{$v->typename|raw}</td>
                                <td>{$v->pid} </td>
								<td>{$v->create_time}</td>
								<td>{$v->update_time}</td>
								<td> <button  class="btn btn-sm m-t-10"><a href="/admin/type_edit/{$v->id}">修改</a>||<a href="/admin/type_delete/{$v->id}">删除</a></button></td>
                             	<td><button class="btn btn-sm m-t-10"><a href="/admin/type_create/{$v->id}">添加子分类</a></button></td>
                               </tr>
                      	 {/foreach}
                          
                        </tbody>
                       
                    </table>
                  
                </div>
{/block}