{extend name="default/index"}
{block name="content"}
     <!-- Basic with panel-->
                <div class="block-area" id="basic">
                   <div class="tile p-15">
                        <form role="form" method="post" action="/admin/config_update/{$data->id}" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputEmail1">网站名</label>
                                <input type="text" name="webname" value="{$data->webname}" class="form-control input-sm" id="exampleInputEmail1" >  
                            </div>
                            
                            <div class="form-group">
                                 <label for="exampleInputPassword1">网站关键字</label>
                                <input type="text" name="keywords" value="{$data->keywords}" class="form-control input-sm" id="exampleInputPassword1">
                            </div>

                            <div class="form-group">
                                 <label for="exampleInputPassword1">网站logo</label>
                                <td><img src="/images/{$data->logo}" alt=""> 
                                    <input type="file" name="logo" class="form-control input-sm" id="exampleInputPassword1">
                                </td>
                            </div>

                          

                            <div class="form-group">
                                 <label for="exampleInputPassword1">状态</label>
                                <select name="status" class="main-search">
                                    <option {if $data->status ==1}selected{/if} value="1">启用</option>
                                    <option {if $data->status ==2}selected{/if} value="2">禁用</option>
                                   
								</select>
                            </div>

                            <div class="form-group">
                                 <label for="exampleInputPassword1">网站所有者</label>
                                <input type="text" name="copy" value="{$data->copy}" class="form-control input-sm" id="exampleInputPassword1">
                            </div>

                          
                            
                            <!-- <botton type="submit" class="btn btn-sm m-t-10">注册</botton> -->
                            <button type="submit" class="btn btn-sm m-t-10">修改</button>
                           
                            
                        </form>
                    </div>
                </div>
{/block}