{extend name="default/index"}

{block name="content"}
	     <!-- Basic with panel-->
                <div class="block-area" id="basic">
                   <div class="tile p-15">
                        <form role="form" method="post" action="/admin/user_save">
                            <div class="form-group">
                                <label for="exampleInputEmail1">用户名</label>
                                <input type="text" name="uname" class="form-control input-sm" id="exampleInputEmail1" placeholder="请输入用户名"> 	
                            </div>
                            
                            <div class="form-group">
                                 <label for="exampleInputPassword1">密码</label>
                                <input type="password" name="pwd" class="form-control input-sm" id="exampleInputPassword1" placeholder="请输入密码">
                            </div>

                            <div class="form-group">
                                 <label for="exampleInputPassword1">确认密码</label>
                                <input type="password" name="repwd"class="form-control input-sm" id="exampleInputPassword1" placeholder="确认密码">
                            </div>

                            <div class="form-group">
                                 <label for="exampleInputPassword1">手机号</label>
                                <input type="text" name="phone"class="form-control input-sm" id="exampleInputPassword1" placeholder="手机号码">
                            </div>

                            <div class="form-group">
                                 <label for="exampleInputPassword1">邮箱</label>
                                <input type="email" name="email"class="form-control input-sm" id="exampleInputPassword1" placeholder="常用邮箱">
                            </div>

                                <div class="form-group">
                                 <label for="exampleInputPassword1">权限</label>
                               	 <select name="status" class="main-search">
									<option value="1">超级管理员</option>
									<option value="2">普通管理员</option>
									<option value="3">一般用户</option>
								 </select>
                            </div>
                            
                          	
                            <!-- <botton type="submit" class="btn btn-sm m-t-10">注册</botton> -->
                            <button type="submit" class="btn btn-sm m-t-10">注册</button>
                      	   
                            
                        </form>
                    </div>
                </div>
{/block}